@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap:100,200,300,400,500,600,700,800,900");
* {
    font-family: Roboto, "Times New Roman", sans-serif;
    /* border: solid 2px red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Establish flex direction for all relevant flexbox divs */

body,
.hero-left,
.random-container,
.quote-container,
.random-one,
.random-two,
.random-three,
.random-four,
.call-to-action-text {
    display: flex;
    flex-direction: column;
}

.header,
.header-links,
.hero-container,
.random-image-container,
.call-to-action,
.footer {
    display: flex;
    flex-direction: row;
}


/* Set all remaining style properties */


/* header properties */

.header {
    justify-content: space-between;
    align-items: center;
    padding: 8px 10%;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    gap: 1em;
    font-size: 18px;
    color: #E5E7EB
}

a {
    text-decoration: none;
    color: white;
}


/* hero properties */

.hero-container {
    background-color: #1F2937;
    padding: 75px 10%;
    justify-content: space-between;
}

.hero-left {
    flex-wrap: wrap;
    max-width: 45%;
    justify-content: center;
    gap: 12px;
    align-items: flex-start;
}

.hero-right {
    width: 45%;
    background-color: grey;
    text-align: center;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-button {
    width: auto;
    height: auto;
    padding: 4px 24px;
    border: none;
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
}


/* Random */

.random-container {
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #F9FAF8;
    padding-top: 16px;
    padding-bottom: 75px;
}

.random-header {
    color: #1F2937;
    font-weight: 800;
    font-size: 32px;
}

.random-image-container {
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.random-one,
.random-two,
.random-three,
.random-four {
    flex-wrap: wrap;
    width: 12%;
    text-align: center;
    align-items: center;
    gap: 8px;
}

.random-container img {
    width: 120px;
    height: 120px;
    border: solid 3px #3882F6;
    border-radius: 8%;
}


/* Quote */

.quote-container {
    justify-content: center;
    background-color: #E5E7EB;
    padding: 75px 20%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    align-self: center;
}

.quote-author {
    color: #1F2937;
    font-size: 18px;
    font-weight: 800;
    align-self: flex-end;
}