@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    font-family: Roboto, "Times New Roman", sans-serif;
    /* border: solid 2px red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Establish flex direction for all relevant flexbox divs */

body,
.hero-left,
.random-container,
.quote-container,
.random-one,
.random-two,
.random-three,
.random-four,
.call-to-action-text {
    display: flex;
    flex-direction: column;
}

.header,
.header-links,
.hero-container,
.random-image-container,
.call-to-action,
.footer {
    display: flex;
    flex-direction: row;
}


/* Set all remaining style properties */


/* header properties */

.header {
    justify-content: space-between;
    align-items: center;
    padding: 8px 10%;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    gap: 1em;
    font-size: 18px;
    color: #E5E7EB
}

a {
    text-decoration: none;
    color: white;
}


/* hero properties */

.hero-container {
    background-color: #1F2937;
    padding: 32px 10%;
    justify-content: space-between;
}

.hero-left {
    flex-wrap: wrap;
    max-width: 40%;
}