@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    font-family: Roboto, "Times New Roman", sans-serif;
    border: solid 2px red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.hero-left,
.random-container,
.quote-container,
.random-one,
.random-two,
.random-three,
.random-four,
.call-to-action-text {
    display: flex;
    flex-direction: column;
}

.header,
.hero-container,
.random-image-container,
.call-to-action,
.footer {
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 1em;
    background-color: red;
    font-size: 18px;
    color: #E5E7EB
}

a {
    text-decoration: none;
    color: white;
}

.header,
.hero-container {
    background-color: #1F2937;
}